.topbar{
    width: 100%;
    height: 50px;
    background-color: rgb(82, 82, 82);
    position: sticky;
    top: 0;
    z-index: 999;
    cursor: pointer;
} 

.topbarWrapper{
    height:100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: bold;
    font-size: 18px;
    color: white;
}

.topcenter{
    font-weight:400;
    font-size: 18px;
    color: white;
    align-items: center;
}

.topRight{
    display: flex;
    align-items: center;
    margin-right:10px;
    margin: 0 15px 5px 0;
    padding-right: 0px;
    padding-top: 10px;
}

.topbarIcons{
    height: 100%;
    color: white;
    padding-right: 10px;
    
}