
.ProgramManager{
    padding:10px 10px;
    font-size:23px;
    font-weight:800px;
}

.PageLine1{
    width:130px;
    height:3px;
    display: flex;
    padding: 0px;
    background-color: #bbb8b8;
}

.PageType{
    width:300px;
    Display: block;
    Float: left;
    padding:15px 25px;
}

.Page1{
    Width: 100px;
    Text-align: left;
    Float: left;
    Display: block;
    }

.Page2{
    Width: 100px;
    Text-align: left;
    Float: left;
    Display: block;
    color: #bbb8b8;
    
    }


.Page3{
Width: 100px;
Text-align: right;
Float: left;
Display: block;
color: #bbb8b8;

}

.PageLine2{
    width:100%;
    height:1.5px;
    display: flex;
    padding: 0px 5px;
    background-color: #aaa9a9;
}

.Nutrition{
    width:500px;
    Display: block;
    Float: left;
    padding:15px 700px;
}

.Package{
    width:250px;
    Display: block;
    Float: left;
}

.Program{
    width:250px;
    Display: block;
    Float: right; 
}

